<div  class="w-full bg-red-500 cursor-pointer active:scale-[99%] transition-all duration-200 group">
    <div class="" [routerLink]="['/product-details' , product.id]">
   <img class="w-full" [src]="product.imageCover" alt="">
    {{today | date : "longTime"}}
    <span class="text-green-500 text-sm">{{product.category.name}}</span>
    <h2 class="text-lg capitalize mb-2 truncate" [title]="product.title">{{product.title | test }}</h2>


    <div class="flex justify-between items-center">
        <span>{{product.price }} EGP</span>
        <span><i class="fa fa-star text-yellow-400"></i> <span class="text-gray-500">{{product.ratingsAverage}}</span> </span>
    </div>
    </div>
 


    <button (click)="addProductToCart(product.id)" class="w-full bg-green-500 py-1.5 cursor-pointer   rounded text-white opacity-0 group-hover:opacity-100 transition-all duration-200 translate-y-8 group-hover:translate-y-0">Add to Cart</button>

</div>